*/#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease
}

#wrapper.toggled {
	padding-left: 270px
}

#sidebar-wrapper {
	z-index: 1000;
	float: left;
	left: 250px;
	width: 0;
	height: 100%;
	margin-top: 15px;
	margin-left: -290px;
	padding-bottom: 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px
}

#page-content-wrapper {
	position: relative;
	padding: 15px
}

#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: -250px
}

.sidebar-nav {
	position: relative;
	top: 20px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 30px
}

.sidebar-nav h4 {
	font-weight: bold;
	color: #06456A
}

.sidebar-nav ul {
	padding-left: 0
}

.sidebar-nav .active {
	background-color: #DBEAF3
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	list-style-type: none
}

.sidebar-nav ul li:last-child hr {
	border-top-color: #ffffff
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #000
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #000;
	background: rgba(255,255,255,0.2)
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
	text-decoration: none
}

.sidebar-nav .separator hr {
	margin-top: 0;
	margin-bottom: 0
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px
}

.sidebar-nav>.sidebar-brand a {
	color: #999999
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none
}

@media (min-width: 768px) {
	.sidebar-nav {
		padding-left: 10px
	}

	#wrapper {
		padding-left: 250px
	}

	#wrapper.toggled {
		padding-left: 0
	}

	#sidebar-wrapper {
		width: 250px;
		padding-left: 10px
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0
	}
}

.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.bottom-sidebar-nav {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none
}

.bottom-sidebar-nav h4 {
	font-weight: bold;
	color: #06456A
}

.bottom-sidebar-nav ul {
	padding-left: 0
}

.bottom-sidebar-nav .active {
	background-color: #DBEAF3
}

.bottom-sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	list-style-type: none
}

.bottom-sidebar-nav ul li:last-child hr {
	border-top-color: #ffffff
}

.bottom-sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #000
}

.bottom-sidebar-nav li a:hover {
	text-decoration: none;
	color: #000;
	background: rgba(255,255,255,0.2)
}

.bottom-sidebar-nav li a:active,.bottom-sidebar-nav li a:focus {
	text-decoration: none
}

.bottom-sidebar-nav .separator hr {
	margin-top: 0;
	margin-bottom: 0
}

.bottom-sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px
}

.bottom-sidebar-nav>.sidebar-brand a {
	color: #999999
}

.bottom-sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none
}

.clip-svg {
	width: 0;
	height: 0
}

.polygon-each-img-wrap img {
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block
}

.polygon-clip-hexagon {
	-webkit-clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
	clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%)
}

html {
	position: relative;
	min-height: 100%
}

body {
	margin-bottom: 75px
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 30px;
	padding-top: 5px
}

.footer .row {
	background-color: #55BCEB
}

.footer .footer-logo {
	float: right;
	max-height: 75px;
	padding: 5px
}

.footer ul {
	height: 75px;
	display: inline-block;
	float: none !important;
	vertical-align: top;
	margin-bottom: 0;
	text-align: center
}

.footer ul li {
	height: 100%;
	display: inline-block
}

.footer ul li a {
	line-height: 47px;
	color: black
}

.footer ul li a:hover,.footer ul li a:active,.footer ul li a:focus {
	background-color: inherit
}

.anchorjs-link {
	transition: all .15s linear;
	opacity: 0
}

*:hover>.anchorjs-link {
	opacity: 1;
	text-decoration: none
}

.search-wrapper {
	height: 50px;
	padding: 10.5px 0;
	position: relative
}

.search-wrapper .form-control-feedback {
	line-height: 30px;
	opacity: 0.4
}

@media (min-width: 992px) {
	.search-wrapper {
		width: 300px
	}
}

.input-search {
	width: 100%;
	font-size: 18px;
	background: transparent;
	border: 0;
	box-shadow: inset 0 0 0 0 transparent;
	border-bottom: 2px solid #DBEAF3;
	transition-property: border-color;
	transition-duration: 0.5s;
	-webkit-transition-property: border-color;
	-webkit-transition-duration: 0.5s;
	-o-transition-property: border-color;
	-o-transition-duration: 0.5s;
	-moz-transition-property: border-color;
	-moz-transition-duration: 0.5s
}

.input-search:hover,.input-search:focus,.input-search:active {
	border-bottom: 2px solid rgba(100,201,239,0.88)
}

.input-search:active {
	border-bottom: 2px solid #64C9EF;
	box-shadow: inset 0 0 0 0px transparent
}

.input-search:focus {
	outline: 0
}

.search-list-ul {
	list-style-type: none;
	padding-left: 0
}

.search-list-ul hr {
	margin-top: 0;
	margin-bottom: 0
}

.search-list-ul li:last-child hr {
	height: 0;
	border-top-color: #ffffff
}

.search-list-ul h4 {
	padding-top: 10px;
	margin-bottom: 0
}

.search-list-ul .active {
	border: 2px solid #64C9EF !important;
	transition-property: border-color;
	transition-duration: 0.3s;
	-webkit-transition-property: border-color;
	-webkit-transition-duration: 0.3s;
	-o-transition-property: border-color;
	-o-transition-duration: 0.3s;
	-moz-transition-property: border-color;
	-moz-transition-duration: 0.3s
}

.search-list-ul .search-list-li {
	border: 2px solid transparent;
	padding: 2px
}

.popover {
	max-width: 100%
}

@media (max-width: 767px) {
	.search-wrapper {
		padding-left: 15px
	}
}

.row {
	margin-left: auto;
	margin-right: auto
}

.bg-light-blue {
	background-color: #DBEAF3;
	padding: 30px 2%
}

.bg-dark-blue {
	background-color: #64C9EF;
	padding: 30px 2%
}

.large-font {
	font-size: 19px
}

.btn-margin-top {
	margin-top: 35px
}

.btn {
	margin-top: 10px;
	margin-bottom: 35px
}

@media (max-width: 767px) {
	.btn-responsive {
		font-size: 100%;
		text-align: center;
		float: none !important
	}

	.center-on-xs {
		text-align: center
	}
}

.content-padding {
	padding: 30px 2%
}

.content-width-padding {
	padding: 0 2%
}

.header-padding {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 70%
}

.main-wrapper {
	padding-bottom: 50px
}

.header {
	position: relative;
	height: 200px;
	margin-bottom: 25px
}

h1 code,h2 code,h3 code,h4 code,h5 code {
	background-color: transparent;
	color: black
}

.contents {
	font-size: 17px
}

@media (min-width: 1200px) {
	.contents {
		font-size: 18px
	}
}

.contents .btn {
	font-size: 17px
}

@media (min-width: 1200px) {
	.contents .btn {
		font-size: 18px
	}
}